<section layout="row" layout-fill layout-align="center">
    <div flex="90" layout-padding layout="column">
        <h2>{{"recipes.title" | translate }}</h2>

        <h3 ng-if="!$ctrl.recipes.length">No recipes have been created yet!</h3>
        <md-list flex ng-if="$ctrl.recipes.length">
            <md-list-item class="md-3-line recipe" ng-repeat="recipe in $ctrl.recipes">
                <md-list-item-text>
                    <h3>{{recipe.name}}</h3>
                    </p>{{recipe.description}}</p>
                </md-list-item-text>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
    <md-button class="md-fab md-primary btn-add-recipe" ng-click="$ctrl.toggleRight()" aria-label="Add"><md-icon class="material-icons">add</md-icon></md-button>
</section>
<md-sidenav
    class="md-sidenav-right"
    md-component-id="right"
    md-whiteframe="4"
    md-disable-backdrop="true">
    <md-toolbar>
        <h2 class="md-toolbar-tools">Create Recipe</h2>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-input-container class="md-block">
                <label for="name">Name</label>
                <input type="text" id="name" ng-model="$ctrl.recipeForm.name" md-autofocus />
            </md-input-container>

            <md-input-container class="md-block">
                <label for="description">Description</label>
                <textarea id="description" ng-model="$ctrl.recipeForm.description"></textarea>
            </md-input-container>
            <md-input-container class="md-block">
                <md-button class="md-primary" ng-click="$ctrl.saveRecipe()">Save</md-button>
                <md-button class="md-secondary" ng-click="$ctrl.closeRecipeForm()">Close</md-button>
            </md-input-container>
        </form>
    </md-content>
</md-sidenav>

